:root {
  --type_scale_ratio: 1.618;

  --vpWidth-min: 320px;

  --fs_mult: 1;

  --fs_mult-dec1: calc(var(--fs_mult) / pow(var(--type_scale_ratio), .5));
  --fs_mult-inc1: calc(var(--fs_mult) * pow(var(--type_scale_ratio), .5));
  --fs_mult-inc2: calc(var(--fs_mult) * var(--type_scale_ratio));
  --fs_mult-inc3: calc(var(--fs_mult) * pow(var(--type_scale_ratio), 1.5));
  --fs_mult-inc4: calc(var(--fs_mult) * pow(var(--type_scale_ratio), 2));
  --fs_mult-max: 3.82;

  --fs: 1em;
  --fs-0: calc(1em * var(--fs_mult-dec1));
  --fs-1: calc(1em * var(--fs_mult-inc1));
  --fs-2: calc(1em * var(--fs_mult-inc2));
  --fs-3: calc(1em * var(--fs_mult-inc3));
  --fs-4: calc(1em * var(--fs_mult-inc4));
  --fs-max: calc(var(--fs_mult-max) * 1rem);

  container: root / inline-size;

  /* Assuming root font size of 16px: */
  /* 480rem is 7680px, 8k resolution */
  /*  64rem is 1024px, the scale boundary, ie the width above which text should begin to scale */
  font-size: clamp(
    1rem,
    calc(1rem + (min(100vw, 480rem) - 64rem) * ((var(--fs_mult-max) - 1) / 416)),
    var(--fs-max)
  );

  line-height: 1.382;
}

* {
  font-size: calc(1em * var(--fs_mult));
}

h1 {
  --fs_mult: var(--fs_mult-inc4);
}

h2 {
  --fs_mult: var(--fs_mult-inc3);
}

h3 {
  --fs_mult: var(--fs_mult-inc2);
}

h4 {
  --fs_mult: var(--fs_mult-inc1);
}

/* h5 inherits default mult */

h6 {
  --fs_mult: var(--fs_mult-dec1);
}

/* TODO: Make containers wherein line-height can scale automatically. */

@container root (min-width: 0px) {
  * {
    /* line-height: max(1.382em, calc(16 * (100cqi / (16 * (60 / 2.27))))); */
  }
}